html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.izquierda{ 
    border-bottom: 1px solid gray;
}
.hamburguer{
    width: 35px;
    display:none;
}
@media only screen and (max-width:768px){
    /* desaparecemos el menu*/
    .menu{
        display: none;
    }
    .hamburguer{
        display:inline-block;
        font-size: 2.3em;
        margin-top: 10px;
        margin-left: 25px;
        color: #000;
    }
}
li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;

}
a{
    text-decoration: none;
    color: #000000;
    
}
.contenido{
    justify-content: right;
    text-align: right;
    margin-top: -75px;
    margin-right: 50px;
}

